<!DOCTYPE html>
<html>
<head>
  <title>Ojalabook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<<<<<<< HEAD
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <a href="#" class="navbar-brand">OjalaBook</a>
        <ul class="nav navbar-nav">
          <li class="active">
            <%= link_to 'Status', statuses_path %>
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <div></div>
=======
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
      <ul>
        <li>
          <a href="#" class="navbar-brand">Ojalabook</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
>>>>>>> 161f8822382fede83beba30ea5645c2299c912f0

</body>
</html>
